.level{
    font-family: 微软雅黑;
    font-size: 1.5rem;
    color: #848484;
  position: relative;
    top:-2px;
}
.demo{
}
.dowebok { list-style-type: none;}
.dowebok    li { display: inline-block;}
.dowebok  li { margin: 10px 0;}